.animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}
@-webkit-keyframes bounceInDown{0%,
60%,
75%,
90%,
to{-webkit-animation-timing-function:cubic-bezier(.215, .61, .355, 1);animation-timing-function:cubic-bezier(.215, .61, .355, 1)}
0%{opacity:0;-webkit-transform:translate3d(0, -3000px, 0);transform:translate3d(0, -3000px, 0)}
60%{opacity:1;-webkit-transform:translate3d(0, 25px, 0);transform:translate3d(0, 25px, 0)}
75%{-webkit-transform:translate3d(0, -10px, 0);transform:translate3d(0, -10px, 0)}
90%{-webkit-transform:translate3d(0, 5px, 0);transform:translate3d(0, 5px, 0)}
to{-webkit-transform:none;transform:none}
}
@keyframes bounceInDown{0%,
60%,
75%,
90%,
to{-webkit-animation-timing-function:cubic-bezier(.215, .61, .355, 1);animation-timing-function:cubic-bezier(.215, .61, .355, 1)}
0%{opacity:0;-webkit-transform:translate3d(0, -3000px, 0);transform:translate3d(0, -3000px, 0)}
60%{opacity:1;-webkit-transform:translate3d(0, 25px, 0);transform:translate3d(0, 25px, 0)}
75%{-webkit-transform:translate3d(0, -10px, 0);transform:translate3d(0, -10px, 0)}
90%{-webkit-transform:translate3d(0, 5px, 0);transform:translate3d(0, 5px, 0)}
to{-webkit-transform:none;transform:none}
}
.bounceInDown{-webkit-animation-name:bounceInDown;animation-name:bounceInDown}
.light-modal{display:none;position:fixed;background:transparent;top:0;bottom:0;left:0;-ms-flex-align:center;align-items:center;-ms-flex-pack:center;justify-content:center;right:0;z-index:9000;transition:background 1s;font-size:16px;visibility:hidden;}
.light-modal-content{border-top:10px solid #1c62af;background:transparent;color:#fff;width:35vw;max-width:800px;border-radius:.2em;position:relative;max-height:calc(100vh - 150px);line-height:1.4;display:-ms-flexbox;display:flex;-ms-flex-direction:column;flex-direction:column;}
.light-modal-content img{width:50px;}
.light-modal-content.large-content{width:50vw;}
.light-modal-header{padding:20px 20px 20px 20px;background:rgba(0, 0, 0, 0.2);display:-ms-flexbox;display:flex;-ms-flex-pack:justify;justify-content:space-between;-ms-flex-align:center;align-items:center;}
.light-modal-heading{margin:0;font-size:1.5em;}
r
.light-modal-heading + .light-modal-close-icon{position:static;}
.light-modal-content .container{background:#fff;padding:20px;}
.light-modal-body{padding:20px;overflow:auto;max-height:450px;}
.light-modal-footer{padding:20px 20px 20px 20px;background:rgba(0, 0, 0, 0.2);text-align:right;display:-ms-flexbox;display:flex;-ms-flex-align:center;align-items:center;}
.light-modal-close-icon, .light-modal-close-btn{text-decoration:none;color:#fff;padding:5px 10px;font-size:1.5em;line-height:1;transition:background .2s ease-in-out;}
.light-modal-close-icon:hover, .light-modal-close-btn:hover{}
.light-modal-close-icon{position:absolute;top:-30px;right:-35px;}
.light-modal-close-btn{font-size:1em;}
.light-modal-caption{position:absolute;left:50%;-ms-transform:translateX(-50%);transform:translateX(-50%);top:100%;padding:10px 0;background:rgba(0, 0, 0, 0.2);width:100%;text-align:center;margin-top:5px;}
.light-modal:target{background:rgba(0, 0, 0, 0.5);display:-ms-flexbox;display:flex;visibility:visible;}
@keyframes basic{0%{opacity:0;}
100%{opacity:1;}
}
.basic{animation-name:basic;}
.contact_form_row{padding-bottom:0px;border-bottom:none;}
.contact_area textarea{height:150px;}
.academy_form_wrap{padding:10px;}
select{width:100%;height:46px;padding:0 12px;font-size:15px;line-height:1.86;font-weight:normal;letter-spacing:-0.025em;color:#666;background:transparent;border:2px solid #ccc;border-radius:5px;-webkit-box-shadow:none;box-shadow:none;}
.contact_agree_anchor{border-bottom:none;}
.contact_agree{padding:10px;}
.box{display:flex;}
.btn-social>:first-child{position:absolute;left:0;top:0;bottom:0;width:39px;line-height:47px;font-size:1.6em;text-align:center;border-right:1px solid rgba(0, 0, 0, 0.2);color:white;}
.c1{background-color:rgba(28, 98, 175, 1);border-color:rgba(0, 0, 0, 0.2);width:185px;}
.c1:hover{background-color:#305777;}
#helf{cursor:pointer;position:fixed;display:block;top:50%;right:14px;z-index:2147000000;margin:0;padding:0;border-collapse:collapse;border-spacing:0;border:none;outline:none;font-size:20px;line-height:0px;color:#fff;}
#helf div:nth-child(1){position:relative;color:#fff;}
#helf div:nth-child(1) img{width:80px;}
#contact-form input[type=text], #contact-form input[type=email], select, textarea{width:100%;padding:12px;border:1px solid #ccc;border-radius:4px;box-sizing:border-box;margin-top:6px;margin-bottom:16px;resize:vertical;}
#contact-form input[type=submit]{background-color:#1c62af;color:white;padding:12px 20px;border:none;border-radius:4px;cursor:pointer;}
#contact-form input[type=submit]:hover{background-color:#ee2a32;}
#contact-form .container{border-radius:5px;background-color:#f2f2f2;padding:20px;}
#fade-wrapper{z-index:10002;top:0;display:none;position:fixed;height:100%;width:100%;background:rgba(0, 0, 0, 0.5);}
#success-message{font-family:'Montserrat', sans-serif;color:#F9F9F9;margin:0 auto;padding-top:10vh;text-align:center;width:auto;}
#success-message span{font-size:16px;background-color:#1c62af;border-radius:5px;padding:5px 20px;}
.chatImgWrapper .tooltip{padding-top:10px;height:40px;background:#787878;color:#fff;display:block;right:4px;margin-bottom:15px;opacity:0;font-size:14px;padding:10px 20px;pointer-events:none;position:absolute;border-radius:5px;width:166px;top:-50px;-webkit-transform:translateY(10px);-moz-transform:translateY(10px);-ms-transform:translateY(10px);-o-transform:translateY(10px);transform:translateY(10px);-webkit-transition:all .25s ease-out;-moz-transition:all .25s ease-out;-ms-transition:all .25s ease-out;-o-transition:all .25s ease-out;transition:all .25s ease-out;-webkit-box-shadow:2px 2px 6px rgba(0, 0, 0, 0.28);-moz-box-shadow:2px 2px 6px rgba(0, 0, 0, 0.28);-ms-box-shadow:2px 2px 6px rgba(0, 0, 0, 0.28);-o-box-shadow:2px 2px 6px rgba(0, 0, 0, 0.28);box-shadow:2px 2px 6px rgba(0, 0, 0, 0.28);}
.chatImgWrapper.active .tooltip{opacity:1;pointer-events:auto;-webkit-transform:translateY(0px);-moz-transform:translateY(0px);-ms-transform:translateY(0px);-o-transform:translateY(0px);transform:translateY(0px);}
.tooltip{position:absolute;z-index:1070;display:block;font-size:12px;font-style:normal;font-weight:400;line-height:1.42857143;text-align:left;text-align:start;text-decoration:none;text-shadow:none;text-transform:none;letter-spacing:normal;word-break:normal;word-spacing:normal;word-wrap:normal;white-space:normal;filter:alpha(opacity=0);opacity:0;line-break:auto;}
@-webkit-keyframes bounce1{0%, 100%{-webkit-transform:translateY(0);}
50%{-webkit-transform:translateY(-5px);}
}
@keyframes bounce1{0%, 100%{transform:translateY(0);}
50%{transform:translateY(-5px);}
}
.bounce1{-webkit-animation-name:bounce1;animation-name:bounce1;}
.animated1{-webkit-animation-duration:1.5s;animation-duration:1.5s;-webkit-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-timing-function:linear;animation-timing-function:linear;animation-iteration-count:infinite;-webkit-animation-iteration-count:infinite;}
.chatImgWrapper .tooltip:before{bottom:-20px;content:" ";display:block;height:20px;left:0;position:absolute;width:100%;}
.chatImgWrapper .tooltip:after{border-left:solid transparent 10px;border-right:solid transparent 10px;border-top:solid #787878 10px;bottom:-10px;content:" ";height:0;right:21px;margin-left:-13px;position:absolute;width:0;}
.main_academy_content{padding:67px 40px;background-color:#f6f6f6;background:#f6f6f6;}
.testimonial-bg{border:1px solid;border-image-source:linear-gradient(#1c62af, #ee2a32);border-image-slice:20;padding:90px 60px;text-align:center;position:relative;}
.testimonial{padding:0 15px;}
.testimonial .description{font-size:20px;font-weight:400;color:#848484;line-height:30px;padding-bottom:25px;margin-bottom:15px;position:relative;font-family:'Montserrat', sans-serif;}
.testimonial .description:before{content:"";width:75%;border-top:1px solid #ddd;margin:0 auto;position:absolute;bottom:0;left:0;right:0;}
.testimonial .description:after{content:"";width:20px;height:20px;background:#fff;position:absolute;bottom:-10px;left:50%;border-bottom:1px solid #ddd;border-right:1px solid #ddd;transform:translateX(-50%) rotate(45deg);}
.testimonial .pic{width:100px;height:100px;border-radius:50%;margin:25px auto;overflow:hidden;}
.testimonial .pic img{width:100%;height:auto;}
.testimonial .title{display:inline-block;font-size:23px;font-weight:700;color:#848484;text-transform:capitalize;margin:0;}
.testimonial .post{display:inline-block;font-size:20px;color:#848484;}
@media only screen and (max-width:767px){.testimonial-bg{padding:50px 40px;}
.owl-theme .owl-controls{bottom:-22%;}
}
@media only screen and (max-width:480px){.testimonial-bg:before{width:55px;height:55px;line-height:55px;font-size:40px;}
.testimonial-bg{padding:30px 10px;}
.owl-theme .owl-controls{bottom:-15%;}
}
@media only screen and (max-width:360px){.testimonial .title,
.testimonial .post{font-size:16px;}
.owl-theme .owl-controls{bottom:-12%;}
}
@media (max-width:767px){#success-message{padding-top:30vh;}
#helf{width:35px;right:50px;}
#success-message span{font-size:20px;}
#success-message span{background-color:transparent;padding:0;}
.chatImgWrapper .tooltip{right:-30px;}
}
#popup-third .pd, #popup-third .wpcf7, #popup-third .contact_form_column{width:100%;}
#pdflink a{font-size:25px;color:grey;}
#pdflink a div{display:inline-block;color:#1c62af;}
@media screen and (max-width:1024px){.popup-inner{top:50%;}
}
@media screen and (max-width:767px){#pdflink a{font-size:20px;}
.popup-inner{top:50%;}
}
@media (max-width:767px){.light-modal{font-size:14px;}
.light-modal:target .light-modal-content{width:70vw;}
}
@supports (display:flex){@media (max-width:767px){.light-modal:target .light-modal-content{width:70vw;}
}
}
@media screen and (max-width:1024px){.light-modal-content{width:80vw;}
}
.test-pd{padding:160px 40px;}
.marker-box-button:after{background:#ee2a32;}
.gm-style-iw div>div>a{min-width:120px;padding:13px 0;border:none;padding-top:20px;}
.wopopup{padding-top:0px !important;}